# Logs
website/logs
website/*.log
website/npm-debug.log*
website/yarn-debug.log*
website/yarn-error.log*
website/pnpm-debug.log*
website/lerna-debug.log*
*node_modules
website/dist
website/dist-ssr
website/*.local
api/uploads

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.__pycache__
.env
__pycache__
