:root {
  --font-350: calc(var(--font-400) - 0.125rem);
  --font-400: 1rem;
  --font-500: calc(var(--font-400) + 0.125rem);
  --font-700: calc(var(--font-400) + 0.5rem);
  --font-800: calc(var(--font-400) + 1.25rem);
  --font-900: calc(var(--font-400) + 3rem);

  --primary-dark: #0f0f0f;
  --secondary-dark: #252525;
  --text-dark: #ffffff;

  --primary-light: #ffffff;
  --secondary-light: #DDDDDD;
  --text-light: #292928;

  --accent: #d97474;
  --accent-bg: #FEE2E2;
  --accent-text: #ffffff;
  --accent-yellow: #efc435;
  --text-2: #4b4b4b;
}

html {
  overflow: hidden;
}

body.light {
  --primary: var(--primary-light);
  --secondary: var(--secondary-light);
  --text: var(--text-light);
}

body.dark {
  --primary: var(--primary-dark);
  --secondary: var(--secondary-dark);
  --text: var(--text-dark);
}

body {
  transition: background-color 0.2s ease, color 0.2s ease;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Lexend", sans-serif;
  transition: font-size 0.1s;
}

button:hover {
  cursor: pointer;
}

h1 {
  font-size: var(--font-800);
}

h2 {
  font-size: var(--font-700);
}

h3 {
  font-size: var(--font-500);
  font-weight: 400;
}

p,
select,
button,
input,
div {
  font-size: var(--font-400);
  color: var(--text);
}

h1,
a,
h2,
h3,
h4,
h5,
p {
  color: var(--text);
}

p {
  color: var(--text)
}

input,
textarea {
  background-color: var(--primary);
  color: var(--text);
}


body {
  background-color: var(--primary);
  height: 100dvh;
}

.content {
  position: fixed;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: auto 1fr auto;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10rem;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
  background-color: var(--accent);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent);
}

.hide {
  display: none;
}

button:active {
  opacity: 0.5;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
