.container {
  max-width: 17rem;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--secondary);
  border-radius: 5px;
}

.container:hover {
  cursor: pointer;
}

.preview {
  width: 100%;
  height: auto;
  border-radius: 5px;
  border-bottom: 1px solid var(--secondary);
  overflow: hidden;
  aspect-ratio: 1;
}

.preview > img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  transition: transform 0.3s ease;
  background-color: var(--secondary);
}

.container:hover .preview > img {
  transform: scale(1.05); 
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
  flex-direction: column;
}

.user, .cuisine {
  font-size: var(--font-350);
  color: var(--text-2);
}

.details > h3 {
  font-size: var(--font-700);
  text-align: center;
  font-weight: bold;
}

.edit {
  margin-top: 1rem;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: var(--accent);
  color: var(--accent-text);
  border: solid 1px var(--accent);
  border-radius: 5px;
  z-index: 2;
  transition: color 0.2s, background-color 0.2s;
}

.edit:hover {
  cursor: pointer;
  background-color: var(--primary);
  color: var(--accent);
}

.remove {
  margin-top: 1rem;
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: var(--secondary);
  color: var(--text);
  border: solid 1px var(--secondary);
  border-radius: 5px;
  z-index: 2;
  transition: color 0.2s, background-color 0.2s;
}

.remove:hover {
  cursor: pointer;
  background-color: var(--primary);
  color: var(--secondary);
}
