.close {
  position: absolute;
  right: 0;
  top: 0;
  width: fit-content;
  color: var(--secondary);
  font-weight: bold;
  background-color: var(--primary);
  border: 1px solid var(--secondary);
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
}

h1 {
  margin-top: 2rem;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: black;
  z-index: 8;
  animation: fade-in 0.3s ease-out;
  opacity: 0.2;
}

.container {
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 90dvh;
  transform: translate(-50%, 0%);
  width: 80%;
  background-color: var(--primary);
  border: 1px solid var(--secondary);
  z-index: 9;
  border-radius: 5px;
  animation: slide-up 0.3s ease-out;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: width 0.2s;
  max-width: 800px;
}


@keyframes slide-up {
  from {
    translate: 0 100%;
  }

  to {
    translate: 0 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.2;
  }
}

.form {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10%;
  box-sizing: border-box;
  overflow-y: scroll;
  gap: 3rem;
}

.row {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  gap: 2rem;
}

.row > label {
  font-size: var(--font-500);
}

.row > input {
  padding: 0.5rem 1rem;
  border: 1px solid var(--secondary);
  border-radius: 3px;
}

.preview {
  width: 100%;
  max-height: 500px;
  max-width: 500px;
  height: 100%;
  aspect-ratio: 1;
  border: solid 1px var(--secondary);
  border-radius: 5px;
  position: relative;
  padding: 4rem;
  box-sizing: border-box;
}

.x {
  position: absolute;
  top: 0;
  right: 0;
  width: fit-content;
  color: var(--accent);
  font-weight: bold;
  font-size: var(--font-500);
}

.preview > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  text-align: left;
  font-size: var(--font-700);
  display: flex;
  align-items: center;
  justify-content: center;
}

.optional {
  color: var(--accent);
}

.difficulty {
  padding: 1rem 2rem;
  border: 1px solid var(--secondary);
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--primary);

}

.submit {
  background-color: var(--accent);
  color: var(--accent-text);
  padding: 0.5rem 2rem;
  font-weight: bold;
  border-radius: 5px;
  display: flex; 
  justify-content: center;
  align-items: center; 
  max-width: 17rem;
  border: 1px solid var(--accent);
  transition: background-color 0.2s, color 0.2s;
}

.submit:hover {
  border: 1px solid var(--accent);
  background-color: var(--primary);
  color: var(--accent);
}


@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}
