.burger {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  width: 2rem;
  height: 2rem;
}

.burger:hover {
  cursor: pointer;
}

.burger > svg {
  width: 100%;
  height: auto;
  color: var(--text);
}

.burger:active > svg {
  color: var(--accent);
}

.container {
  display: flex;
  width: 100dvw;
  height: 100dvh;
}


.container > main {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
}

