.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.5;
  z-index: 4;
}

.collapsed {
  width: 0;
  padding: 0;
}

.expanded {
  padding: 1rem 2rem;
  width: 100%;
  transition: width 0.3s ease;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 20rem;
  border: 1px solid var(--secondary);
  background-color: var(--primary);
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
}

.burger {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  width: 2rem;
  height: 2rem;
}

.burger:hover {
  cursor: pointer;
}

.burger>svg {
  width: 100%;
  height: auto;
  color: var(--text);
}

.burger:active>svg {
  color: var(--accent);
}

a {
  text-decoration: none;
}

.logo {
  width: 90px;
  height: auto;
}

.logo>img {
  width: 100%;
}

.item {
  list-style: none;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  width: 100%;
  justify-content: center;
}

.icon {
  width: 2rem;
  height: auto;
}

.icon>* {
  width: 100%;
  height: auto;
}

.control,
.sizes>button {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  box-sizing: border-box;
  border: solid 1px var(--primary);
  background-color: var(--primary);
}

.item>a:hover,
.item>button:hover,
.sizes>button:hover {
  border: solid 1px var(--secondary);
  border-radius: 5px;
  cursor: pointer;
}

.item>a>p,
.item>button>p {
  color: var(--text);
}

.item>a:active,
button:active {
  opacity: 0.5;
}

.active {
  border: solid 1px var(--accent);
  border-radius: 5px;
}

.profile {
  color: var(--text);
  background-color: var(--accent);
  width: 100%;
  padding: 1rem 2rem;
  text-align: center;
  border-radius: 5px;
  border: 1px solid var(--accent);
  transition:
    0.2s background-color,
    0.2s color;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.profile:hover {
  background-color: var(--primary);
  color: var(--accent);
  cursor: pointer;
}

.profile:active {
  opacity: 0.5;
}

.navBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.sizes {
  display: flex;
  justify-content: space-between;
}

.sizes {
  color: var(--text-2);
}

.switchLabel {
  font-family: "Lexend", sans-serif;
}

@keyframes slide-in {
  from {
    translate: -100% 0;
  }

  to {
    translate: 0 0;
  }
}

@media (max-width: 768px) {
  .container {
    z-index: 5;
    position: absolute;
  }
}
